html, body
{
	height: 100%;
}

body
{
    background-color:#333;
    widows: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
}

#xcanvas {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    width: 800px;
    height: 600px;
    /* border: #F00;
    border-style: solid;
    border-width: 2px; */
}